# Node dependencies
node_modules/
npm-debug.log
.env

# Client build artifacts
client/node_modules/
client/.env
client/package-lock.json
client/build/

# Logs
logs
*.log

# OS-specific
.DS_Store
Thumbs.db
